# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.1856931.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\CASTI\OneDrive - uanl.edu.mx\Escuela\4to Semestre\Lenguajes de Programacion\1856931\.idea\.idea.1856931.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
