# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Proyecto_Final.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\CASTI\OneDrive - uanl.edu.mx\Escuela\4to Semestre\Lenguajes de Programacion\Proyecto_Final\.idea\.idea.Proyecto_Final.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
